@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white overflow-x-hidden;
}

/* Leaflet / map helpers */
.map-wrapper {
  width: 100%;
  height: 500px; /* Adjust as needed for your layout */
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

